.header-container {
    background-color: #3d56b6;
    color: white !important;
}

.logo-container {
    background-color: #FBC02D;
    padding: 0px 10px;
    font-size: 28px;
    color: #333333;
}

.logo-container a {
    font-size: 28px;
    color: #333333 !important;
}

.navbar {
    padding: 0px;
}

.navbar #navbarCollapse{
    margin: .5rem 1rem;
}