html,
body {
  height: 100%;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: Rambla, sans-serif;
}

#root {
  height: 100%;
  width: 100%;
  display: inline-flex;
  flex-direction: column;
}

.page-content {
  flex: 1 0 auto;
  padding-top: 65px;
}

.no-padding {
  padding: 0px !important;
}

.h-100 {
  height: 100%;
}

.w-100 {
  width: 100%;
}